
*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchpage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/src/assets/LibraryImg.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.booklistcontainer{
    height:84.4%
}
